<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET"/>
    <queries>
        <package android:name="com.goodreads"/>
        <package android:name="com.android.chrome"/>
        <package android:name="com.google.android.googlequicksearchbox"/>
        <package android:name="com.tagus"/>
        <package android:name="com.casadellibro.lecturadigital"/>
    </queries>
    <application android:theme="@style/Theme.MiBiblioteca" android:label="Mi Biblioteca" android:icon="@mipmap/ic_launcher" android:allowBackup="true">
        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="text/plain"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
